In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("insurance_pre.csv")

In [3]:
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
data=pd.get_dummies(data,drop_first=True)

In [5]:
data

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
data.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=data[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
dependent=data[[ 'charges']]

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={"criterion":["squared_error","absolute_error", "friedman_mse"],
           "max_features":["sqrt","log2"],"n_estimators":[10,100] }

grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True, verbose=3,n_jobs=-1)

In [11]:
grid.fit(independent,dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\venka\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse'],
                         'max_features': ['sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [14]:
print("The best tuning Parameter {}:".format(grid.best_params_))

The best tuning Parameter {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 100}:

In [15]:
results=grid.cv_results_

In [16]:
results

{'mean_fit_time': array([0.21854682, 1.1124332 , 0.15770631, 1.16605167, 0.49484968,
        5.01915126, 0.4987258 , 5.11863585, 0.2219491 , 1.36611834,
        0.14318271, 1.33152566]),
 'std_fit_time': array([0.10586877, 0.05202552, 0.02781039, 0.0517562 , 0.05738624,
        0.15767666, 0.03315496, 0.12314692, 0.07162061, 0.05291736,
        0.0264244 , 0.15556653]),
 'mean_score_time': array([0.01524401, 0.07262139, 0.01915598, 0.06544042, 0.02387338,
        0.06443977, 0.02247343, 0.07405243, 0.03533792, 0.08285666,
        0.02511263, 0.09658918]),
 'std_score_time': array([0.01369766, 0.01629519, 0.01885572, 0.01809882, 0.01350539,
        0.02159597, 0.01225419, 0.01245629, 0.01974925, 0.01598911,
        0.01255768, 0.04115607]),
 'param_criterion': masked_array(data=['squared_error', 'squared_error', 'squared_error',
                    'squared_error', 'absolute_error', 'absolute_error',
                    'absolute_error', 'absolute_error', 'friedman_mse',
                    'friedman_mse', 'friedman_mse', 'friedman_mse'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_features': masked_array(data=['sqrt', 'sqrt', 'log2', 'log2', 'sqrt', 'sqrt', 'log2',
                    'log2', 'sqrt', 'sqrt', 'log2', 'log2'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[10, 100, 10, 100, 10, 100, 10, 100, 10, 100, 10, 100],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'criterion': 'squared_error',
   'max_features': 'sqrt',
   'n_estimators': 10},
  {'criterion': 'squared_error', 'max_features': 'sqrt', 'n_estimators': 100},
  {'criterion': 'squared_error', 'max_features': 'log2', 'n_estimators': 10},
  {'criterion': 'squared_error', 'max_features': 'log2', 'n_estimators': 100},
  {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 10},
  {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100},
  {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 10},
  {'criterion': 'absolute_error', 'max_features': 'log2', 'n_estimators': 100},
  {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 10},
  {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'n_estimators': 100},
  {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 10},
  {'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 100}],
 'split0_test_score': array([0.8267361 , 0.85561084, 0.84388922, 0.85435658, 0.84906117,
        0.85729678, 0.83874771, 0.86065787, 0.84608338, 0.86106316,
        0.85126634, 0.85642408]),
 'split1_test_score': array([0.76140523, 0.77945048, 0.75443661, 0.77897634, 0.7724119 ,
        0.77959535, 0.77186888, 0.77689005, 0.75588195, 0.78081612,
        0.74912164, 0.78075858]),
 'split2_test_score': array([0.83935529, 0.86263032, 0.84034875, 0.86066189, 0.84173486,
        0.85350757, 0.82838553, 0.85740508, 0.82692029, 0.8606367 ,
        0.83450093, 0.86134922]),
 'split3_test_score': array([0.81998074, 0.8277236 , 0.82116359, 0.82793243, 0.82585447,
        0.82961394, 0.81328519, 0.82775566, 0.8089754 , 0.82734976,
        0.80882371, 0.83209578]),
 'split4_test_score': array([0.8233665 , 0.83849353, 0.82752928, 0.83948155, 0.81526869,
        0.84340396, 0.82398529, 0.84253763, 0.81892673, 0.83668047,
        0.80997056, 0.83891332]),
 'mean_test_score': array([0.81416877, 0.83278176, 0.81747349, 0.83228176, 0.82086622,
        0.83268352, 0.81525452, 0.83304926, 0.81135755, 0.83330924,
        0.81073663, 0.8339082 ]),
 'std_test_score': array([0.02718333, 0.02937529, 0.03258666, 0.02899983, 0.02696105,
        0.02822112, 0.0231809 , 0.03042154, 0.03029387, 0.0293921 ,
        0.03466425, 0.02868168]),
 'rank_test_score': array([10,  4,  8,  6,  7,  5,  9,  3, 11,  2, 12,  1])}

In [21]:
table=pd.DataFrame.from_dict(results)

In [22]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.218547,0.105869,0.015244,0.013698,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.826736,0.761405,0.839355,0.819981,0.823366,0.814169,0.027183,10
1,1.112433,0.052026,0.072621,0.016295,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.855611,0.779450,0.862630,0.827724,0.838494,0.832782,0.029375,4
2,0.157706,0.027810,0.019156,0.018856,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.843889,0.754437,0.840349,0.821164,0.827529,0.817473,0.032587,8
3,1.166052,0.051756,0.065440,0.018099,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.854357,0.778976,0.860662,0.827932,0.839482,0.832282,0.029000,6
4,0.494850,0.057386,0.023873,0.013505,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.849061,0.772412,0.841735,0.825854,0.815269,0.820866,0.026961,7
5,5.019151,0.157677,0.064440,0.021596,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.857297,0.779595,0.853508,0.829614,0.843404,0.832684,0.028221,5
6,0.498726,0.033155,0.022473,0.012254,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.838748,0.771869,0.828386,0.813285,0.823985,0.815255,0.023181,9
7,5.118636,0.123147,0.074052,0.012456,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.860658,0.776890,0.857405,0.827756,0.842538,0.833049,0.030422,3
8,0.221949,0.071621,0.035338,0.019749,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.846083,0.755882,0.826920,0.808975,0.818927,0.811358,0.030294,11
9,1.366118,0.052917,0.082857,0.015989,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.861063,0.780816,0.860637,0.827350,0.836680,0.833309,0.029392,2
10,0.143183,0.026424,0.025113,0.012558,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.851266,0.749122,0.834501,0.808824,0.809971,0.810737,0.034664,12
11,1.331526,0.155567,0.096589,0.041156,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.856424,0.780759,0.861349,0.832096,0.838913,0.833908,0.028682,1

In [23]:
age_input=float(input("Age : "))
bmi_input=float(input("BMI : "))
child_input=int(input("Children: "))
sex_input=int(input("Sex Male 0 or 1 : "))
smoker_s_input=int(input("Smoker yes 0 or 1 : "))

Age : 32
BMI : 33
Children: 2
Sex Male 0 or 1 : 1
Smoker yes 0 or 1 : 1

In [24]:
future_prediction=grid.predict([[age_input,bmi_input,child_input,sex_input,smoker_s_input]])
print("Future Prediction is:{} ".format(future_prediction))

Future Prediction is:[37433.8799521]

C:\Users\venka\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(